<div data-ng-app>
	Enter your name : 
	<input type="text" name="name" data-ng-model="inputName">
	{{inputName}}
	<br/>
	<button id="" ="Submit" data-ng-disabled="!inputName">Submit</button> 
	<br/>
	<div data-ng-controller="SimpleController">
		<ol>
		<li data-ng-repeat = "name in names">{{name}}</li>
		</ol>
	</div>
</div>
<script>
	function SimpleController($scope) {
        $scope.names = ['Dave', 'Napur', 'Heedy', 'Shriva'];
    }

    samplesModule.controller('SimpleController', SimpleController);
</script>
